* {
    box-sizing: border-box;
}

/*========= Nav Bar =========*/

.main-header{
    background-color: lightgrey;
    margin-bottom: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 14px;
    margin-right: 20px; /*調整間距*/
    font-weight: normal; /*不要套用h1粗體*/
    margin-left: 20px;
}

.main-nav {
    display: flex; /*重要！！*/
    list-style: none; /*移除list的點*/
}

.main-nav li {
    margin-right: 20px; /*調整Item間的間距*/
}

/*========= Welcome Msg =========*/

.content-first-title{
    background-color: lightsteelblue;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

/*========= Box Section =========*/

h2{
    text-align: center;
}


.container{
    display:flex;
    justify-content:center;
}



.box {
    font-size:13px;
    text-align:center;

    width:450px;
    height:80px;
    background:#8899aa;
    margin:10px;
    margin-top:5px;
    padding-top:5px;
}

/*========= Button =========*/

.button-container {
    text-align: center;
}

.button-container button {
    background-color: lightsteelblue;
    width: 100px;
    position: relative;
    top: 10px;
    padding: 10px;
    border: none;
}

/*========= Media Query =========*/

@media (min-width: 1200px)
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}





