* {
    /*margin: 0;  !* 消除間距*!*/
    /*padding: 0;*/
    box-sizing: border-box;
}


.main-header{
    background-color: grey;
}

.name{
    font-size: 14px;
}

li {
    list-style: none; /* 移除點或數字 */
}


.content-first-title{
    background-color: lightsteelblue;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

h2{
    text-align: center;
}


.container{
    display: flex;
    height: 280px;
    flex-wrap: wrap; /* 允許換行 */
    justify-content: space-around;
}

.box {
    width: 300px;
    height: 100px;
    text-align: center;
    background: grey;
    color: black;
}


/*.main-header {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center; !* 可以根据需要添加对齐方式 *!*/
/*}*/


/*@media (min-width: 769px) {*/

/*    .main-header,*/
/*    .main-nav {*/
/*        display: flex;*/
/*    }*/
/*    .main-header {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/

/*}*/

/*@media (min-width: 1025px) {*/

/*    .main-header {*/
/*        flex-direction: row;*/
/*        justify-content: space-between;*/
/*    }*/

/*}*/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: row; /* 将 h1 和 .main-nav 放在水平方向 */
    align-items: center; /* 可以根据需要添加对齐方式 */
}

.name {
    font-size: 14px;
    margin-right: 20px; /* 调整标题和导航之间的间距 */
}

.main-nav {
    display: flex;
    list-style: none;
}

.main-nav li {
    margin-right: 15px; /* 调整导航项之间的间距 */
}

